.newItem__container{
    max-width: 650px;
    margin: 1rem auto;
    padding: 0 15px;
}

.newItem__container h2 {
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 2rem ;
}
.newItem__container p {
    font-size: 1.2rem;
}

.new__form{
    width: 100%;
    display: flex;
    align-items: center;
}
.name__input{
    width: 100%;
    padding: .8rem 1rem;
    border: 1px solid #dbdbdb;
    outline-color: cornflowerblue;
    font-size: 1rem;
    font-weight: 500;
}

.submit__btn {
    width: 20%;
    cursor: pointer;
    margin-left: .1rem;
    color: #fff;
    border: 1px solid rgb(15, 17, 34);
    background: rgb(15, 17, 34);
    padding: .8rem 1rem;
    outline-color: cornflowerblue;
    font-size: 1rem;
    font-weight: 500;
}


@media(min-width:600px){
    .name__input{
        width: 50%;
    }
    .submit__btn {
        width: 15%;
        margin-left: .3rem;
    }
}